body {
    font: 100% "Trebuchet MS", "Geneva CE", lucida, sans-serif;
    color: #333;
    background-color: #fff;
    width: 960px;
    margin: auto;
}

h1 {
/*	font-size: 150%;*/
	color: black;
    margin-top: 0;
}

#ajax-spinner {
	margin: 15px 0 0 15px;
	padding: 13px;
	background: white url('../images/spinner.gif') no-repeat 50% 50%;
	font-size: 0;
	z-index: 123456;
	display: none;
}

div.flash, form ul.error {
	color: black;
	background: #FFF9D7;
	border: 1px solid #E2C822;
	padding: 1em;
	margin: 1em 0;
        font-size: 16px;
    list-style-type: none;
}

a[href^="error:"] {
/*	background: red;
	color: white;*/
    color: silver;
    font-style: italic;
}

a {
/*    text-decoration: none;*/
    color: black;
}

a:hover {
    text-decoration: none;
}

hr {
    padding: 0;
    margin: 0;
}

#top * {
    margin: 0;
    padding: 0;
}

#top h1 a {
    display: block;
    height: 100px;
    width: 310px;
    background: url('../images/logo.png') no-repeat;
    float: left;
}

#top h1 a span {
    display: none;
}

#top ul {
    list-style-type: none;
    float: left;
    width: 650px;
}

#top ul li {
    float: left;
    width: 49.69%;
    margin: 0 1px 1px 0px;
}

#top ul li a {
    text-decoration: none;
    text-align: center;
    display: block;
    line-height: 50px;
    font-size: 16px;
    font-weight: normal;
    color: black;
}
#top ul li a:hover {
    color: white;
}
#top ul li.active a {
    background-color: #0073ea;
    color: white;
}

#content {
    min-height: 200px;
    padding: 16px;
    clear:both;
}

#homepage div.news {
    font-size: small;
}

#homepage div.news div.new {
    border: 1px solid black;
    padding: 15px;
    margin-top: 20px;
}

#homepage div.news div.new h2 {
    margin: 0;
}

#homepage div.news div.new h2 span {
    font-size: small;
    float: right;
    line-height: 30px;
    vertical-align: middle;
}

#homepage form {
    margin-top: 15px;
}

#sign fieldset {
    width: 80%;
    margin: auto;
    margin-top: 150px;
    background-image: url('../images/logo.png');
    background-repeat: no-repeat;
    background-position: 440px 20px;
}

#martix-overview .controls {
    float: right;
}

#martix-overview ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    margin-bottom: 40px;
}

.matrix_overview li{
    width:100%;
}
.button {
    line-height: 30px;
    display: block;
    width: auto;
    margin: 2px;
    float:left;
}
.button:after { clear: left; }
#martix-overview ul li{
/*    color:black;*/
    padding: 5px;
    line-height: 25px;
    margin: 2px;
}
#martix-overview ul li.ui-state-hover a {
    color:white;
}

#martix-overview a {
    font-size: 80%;
    font-style: normal;
    padding: 5px;
    text-decoration: none;
/*    color: in;*/
/*    background-color: #f6f6f6;
    border: 1px solid #dddddd;*/
}
.controls {
    font-size: 90%;
    font-weight: normal;
}
#martix-overview .controls a {
    font-weight: normal;
    padding: 5px;
    text-decoration: none;
}
#martix-overview .controls a:hover {
    text-decoration: underline;
}

#martix-overview a:hover {
/*    background-color: #0073EA;*/
/*    color: white;*/
}

#matrix-view {
    font-size: 66%;
}

#matrix-view h1, #matrix-create h1 {
    font-size: 32px;
}

#matrix-export pre {
    font-size: 150%;
}

#footer * {
    margin: 0;
    padding: 0;
}

#footer div.floatLeft {
    float: left;
}

#footer div.floatRight {
    float: right;
}