/* 
    Document   : screen.css
    Created on : 30.3.2012, 22:09:03
    Author     : Petr Kučera
    Description:
        Purpose of the stylesheet follows.
*/
.main{
    position: relative;
    width: 960px;
    margin: auto;
}

root { 
    display: block;
}

.header{
/*    position: fixed;*/
    width: 100%;
    top: 0;
    height: 5em;
/*    border: 2px solid red;*/
}
.header h1 {
    display: inline;
}

.top_panel{
/*    border: 2px solid brown;*/
    float: right;
/*    right: 0;*/
/*    width:100%;
    height:100%;*/
}
.top_panel ul{
    list-style: none;
}
.top_panel ul li{
    display: inline;
}

.content{
    clear: both;
/*    width: 800px;*/
/*    border: 2px solid blue;*/
}
table.matrix {
    border-spacing: 0;
    width:100%;
    clear: both;
    margin-top: 10px;
    border: 1px solid #f0f0f0; 
}
table.matrix ul {
    min-height: 1.5em;
/*    border: 1px grey solid;*/
    list-style: none;
    list-style-type: none; 
    margin: 0;
    padding: 0;
    width: 100%;
    border-collapse: collapse;
}
table.matrix ul li {
     margin: 0 6px 1px 6px;
     padding: 5px;
     font-size: 1.2em;
     height: 1.5em; 
     border-collapse: collapse;
     color: #444;
     font-weight: normal;
}

table.matrix td {
    vertical-align: text-top;
/*    border: 1px lightgrey solid;*/
    border-collapse: collapse;
}
table.matrix tr {
    border-bottom: 2px lightskyblue solid;
/*    border: 1px lightgrey solid;*/
    border-collapse: collapse;
}

table.matrix tr#row1 td {
    width: 25%;
}

.ui-state-default-header { 
    border: 1px solid #555555; 
    border-collapse: collapse;
    background: #ff6600  /*url(custom-theme/images/ui-bg_highlight-soft_25_0073ea_1x100.png) 50% 50% repeat-x*/; 
    font-weight: bold; 
    color: #0073ea; }
table.matrix h2 {
    margin:0;
    padding: 5px;
    color: #black;
    font-size: 1.3em;
    /*
    width: 100%; */
/*    background-color: #426DC9 !important;
    background-image: none !important;*/
    margin: 0 1px 0 1px;
}

/* Ikony */
.icon { display: block; text-indent: -99999px; overflow: hidden; background-repeat: no-repeat; width: 16px; height: 16px; cursor: pointer;}
.icon-add {background-image: url(icons/add.png);}
.icon-add-hover {background-image: url(icons/add-hover.png) !important;}
.icon-accept {background-image: url(icons/accept.png);}
.icon-accept-hover {background-image: url(icons/accept-hover.png) !important;}
.icon-cancel {background-image: url(icons/cancel.png);}
.icon-cancel-hover {background-image: url(icons/cancel-hover.png) !important;}
.icon-container{display:none;}
.ui-icon {cursor:pointer;}

/* Pomocne tridy */
.floatr{float:right;}
.color_white{color:white !important;}