{var $robots = noindex}

{block #content}

<div id="sign">
    {control signInForm}
    <center><small><a href="mailto:xzajic07@stud.fit.vutbr.cz?subject=Ones - MPR 2012 - Žádám o přístup do portálu / změnu hesla">Požádat o vstup do portálu / změnu hesla</a></small></center>
</div>
