{block content}
<div id="martix-overview">
    <h1>Přehled matic</h1>
    {if $matrixs}
    <ul>
    {foreach $matrixs as $matrix}
        <li><a n:href="MatrixOverview:view $matrix->id" title="Ukázat matici '{$matrix->nazev}'">{$matrix->nazev}</a></li>
    {/foreach}
    </ul>
    {else}
    <center>Žádné matice nebyly v databázi nenalezeny.</center>
    {/if}
</div>
